
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My website</title>
     <link rel="stylesheet"href="style.css">
     <script src="index.js"></script>
    
</head>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo" >WinBetAgenda Sure Odds</h2>
                </div>
                <div class="menu">
                    <ul>
                        
                    </ul><br>
                    <br>

            </div>
           
    </div>
    <div class="content" >
        <h1>3+ODDS@200<br><span>6+ODDS@350<br><span>10+ODDS@500<br></h1>
        <p class="par"> Unlike other odds selling platforms, our platform has a guaranteed three plus odds, six plus odds and ten plus odds which has a 98.7 percent winning rate. <br>Visit our prediction history to view the winning rate for the last seven days.</p>

        <div class="form" color="green">
             <h2>Payment procedure</h2>
             <ul>
              Go to mpesa<br>
              Select buy goods and services<br>
              Enter Till No 9417601<br>
              Enter you username as Account number<br>
              Enter your Mpesa pin <br>
              Then pay<br>
              </ul>
            
        </div>
        <div class="form">
          <h2>Mpesa Till No 9417601 </h2>
        </div>

        <div class="icon">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    </div>
</div>
</div>
</div>
</span>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>



</body>
</html>