
{% extends 'store/layouts/main.html' %}
{% block content %}

         
          <table style="width:100%">
            <h1>3+ODDS</h1>
            <tr>
                <th>Time</th>
                <th>Game</th>
                <th>Prediction</th>
                <th>Our Predictions</th>
                <th>Total Odds</th>
            </tr>
            <tr>
                <td>Feb 24 22:30</td>
                <td>Frosinone Vs Parma</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1X</td>
            </tr>
            <tr>
                <td>Feb 24 22:00</td>
                <td>VVV Venlo Vs Top Oss</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1DNB</td>
                <td>Not yet played</td>
            </tr>
            <tr>
                <td>Feb 24 21:30</td>
                <td>Borussia Monchengladbach II Vs Rot Weiss Ahlen</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1</td>
                
            </tr>
            <tr>
                <td>Feb 24 20:30</td>
                <td>Fortuna Dusseldorf Vs Eintracht Braunscheing </td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1X</td>
            </tr>
            <tr>
                <td>Feb 24 22:00</td>
                <td>Heracles Vs Telstar</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1DNB</td>
            </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>3.34</td>
            <td></td>
        </table>
        
        <h1>Betpawa booking code 765E3B1</h1>
        <h1>Betika booking link https://betika.com/share/wkSdw1</h1>

{% endblock content %}
            